
.withLove {
    overflow: hidden;
    text-align: center;
    padding: 16px 0 40px;
    cursor: default;
    color: #616c84;
    gony: relative;
    left: -2vw
}

@media screen and (min-width: 420px) {
    .withLove {
        padding:24px 0 70px
    }
}

.withLove a {
    -webkit-transition: all .16s ease-out;
    transition: all .16s ease-out
}

.withLove a:link,.withLove a:visited {
    font-weight: 700;
    color: #fff;
    text-decoration: none
}

.withLove a:active,.withLove a:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.withLove * {
    display: inline-block
}

.withLove .alpha,.withLove .omega {
    box-sizing: border-box;
    /* width: 40%; */
    font-size: 16px
}

@media screen and (min-width: 440px) {
    .withLove .alpha,.withLove .omega {
        font-size:30px
    }
}

@media screen and (min-width: 1000px) {
    .withLove .alpha,.withLove .omega {
         font-size:28px; 
    }
}

.withLove .alpha {
    text-align: right;
    padding-right: 3px
}

.withLove .omega {
    text-align: left;
    padding-left: 3px
}

.withLove .heart {
    margin: 0 -2px;
    position: relative;
    z-index: 2;
    -webkit-animation: a 1.33s ease-in-out infinite;
    animation: a 1.33s ease-in-out infinite;
    top: 12px;
    width: 32px;
    height: 32px
}

@media screen and (min-width: 440px) {
    .withLove .heart {
        top:24px;
        width: 64px;
        height: 64px
    }
}

@media screen and (min-width: 1000px) {
    .withLove .heart {
        top:32px;
        width: 80px;
        height: 80px
    }
}

.withLove .heart path {
    fill: #ff005d
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: scale(1)
    }

    50% {
        -webkit-transform: scale(.8)
    }
}

@-webkit-keyframes a {
    0%,to {
        -webkit-transform: scale(1)
    }

    0% {
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes a {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
