---
url: http://sharepointoscar.github.io
baseurl: ''
title: Oscar's Personal Space
description: Hacking away and documenting it along the way.
navbar-links:
  About Me: aboutme
  Date.Now(): now
  Visualize My Experience: infographic
avatar: "/img/avatar-icon.png"

author:
  name: Oscar Medina
  email: youremail@domain.com
  facebook: yourname
  github: SharePointOscar
  twitter: SharePointOscar
  reddit: yourname
  google-plus: "+yourname"
  linkedin: oscarmedina
  xing: yourname
  stackoverflow: yourlink
  snapchat: yourname
  instagram: yourname
  youtube: yourlink
  spotify: yourname
  telephone: yourphone

footer-links-active:
  rss: false
  facebook: false
  email: fal
  twitter: true
  google-plus: false
  github: true
  reddit: false
  linkedin: true
  xing: false
  stackoverflow: false
  snapchat: false
  instagram: false
  youtube: false
  spotify: false
  telephone: false
share-links-active:
  twitter: true
  facebook: false
  google: false
  linkedin: true

excerpt_length: 50
title-separator: "-"
timezone: America/Vancouver
markdown: kramdown
highlighter: rouge
permalink: "/:year-:month-:day-:title/"
paginate: 5
kramdown:
  input: GFM

defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    comments: true
    social-share: true
- scope:
    path: ''
  values:
    layout: page
    show-avatar: true
link-tags: false
exclude:
- Gemfile
- Gemfile.lock
- LICENSE
- README.md
- CNAME
- Vagrantfile
prose:
  rooturl: _posts
  media: img
  ignore:
  - 404.html
  - LICENSE
  - feed.xml
  - _config.yml
  - "/_layouts"
  - "/_includes"
  - "/css"
  - "/img"
  - "/js"
  metadata:
    _posts:
    - name: layout
      field:
        element: hidden
        value: post
    - name: title
      field:
        element: text
        label: Post title
        placeholder: Title
        alterable: true
    - name: subtitle
      field:
        element: textarea
        label: Subtitle
        placeholder: A description of your post.
        alterable: true
    - name: date
      field:
        element: text
        label: Date
        help: Enter date of post.
        placeholder: yyyy-mm-dd
        alterable: true
    - name: image
      field:
        element: text
        label: Image
        help: Add a thumbnail image to your post.
        placeholder: Thumbnail
        alterable: true
    - name: published
      field:
        element: checkbox
        label: Publish
        help: Check to publish post, uncheck to hide.
gems:
- jekyll-paginate
- jekyll-mentions
- jemoji
